@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h2><b> Additional information.</b></h2>
    <i>
        <p>This is the final project for Winter semester.</p>
        <p><b>Submitted by:</b></p>
        <p>Student Names: Kanwalpreet Kaur and Nitisha Kalra</p>
        <p><b>Submitted to:</b></p>
        <p>Mr. Cao</p>
    </i>
</div>

