@{
    ViewBag.Title = "Contact";
}

<!-- Container (Contact Section) -->
<div class="jumbotron">
    <h2 class="text-center">CONTACT US</h2>
    <div class="row">
        <div class="col-sm-5">
            <p><span class="glyphicon glyphicon-map-marker"></span> Montreal, QC</p>
            <p><span class="glyphicon glyphicon-phone"></span> +1  (514) 000-0000</p>
            <p><span class="glyphicon glyphicon-envelope"></span> test@gmail.com</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-success pull-right" type="submit">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>



@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@