@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:100px;">

    <h3 style="text-align:center">Property Management System</h3>
    <p>
        <img src="~/Images/home1.jpg" style="width:250px;height:250px;"  />
        <img src="~/Images/home2.jpg" style="width:250px;height:250px;"  />
        <img src="~/Images/home3.jpg" style="width:250px;height:250px;"  />
        <img src="~/Images/home4.jpg" style="width:250px;height:250px;"  />
    </p>
</div>



